extends layout

block content
    h1 Log in
    h6 Don't have an account? 
        a#sign-up(href='/members-only/sign-up') Sign up
    if user
        h1 Welcome back #{user.username}
        a(href="/members-only/log-out") Log out
    else
        h1 Please log in
        form(method="POST", action="/members-only/log-in")
            div.form-group
                label(for="username") Username
                input.form-control(type='text', id='username', placeholder="Enter your username", name="username", value=(user && user.username) ? user.username : '')
            div.form-group
                label(for="password") Password
                input.form-control(type='password', id='password', placeholder="Enter your password", name="password")
            button.btn.btn-primary(type="submit") Log in
