extends layout

block content
  h1 All messages
  ul
    each message in messageList
      li.messageList
        p.messageListFirstChild #{message.title} 
        p.messageListSecondChild #{message.text}
        if user && user.admin === true
          form(action="/delete" method="POST")
            button.btn.btn-primary(type="submit") Delete
        br
