extends layout

block content
  h1 All messages
  ul.ul
    each message in messageList
      li.messageList
        p.messageListFirstChild #{message.title} 
        p.messageListSecondChild #{message.text}
        p.messageListThirdChild 
          i.messageListFourthChild #{message.username},
          |  #{message.timestamp_formatted}
        br
