body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 550px;
}
.messageList {
  background-color: #068affb5;
  padding-top: 20px;
  padding-left: 20px;
  list-style-type: none;
  border-radius: 25px;
}